button {
    border: 0px;
    background: #fff;
    font-size: 16px;
    color: #919ea5;
    cursor: pointer;
    margin-right: 10px;
    padding: 3px 6px;
}

button:last-child {
    margin: 0px;
}

button.clicked {
    color: #fff;
    border-radius: 10px;
    background: #7996a5;
}